
@{
    ViewData["Title"] = "AnhViPham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Đang cập nhập</h1>

<script>
    $(function() {
        addClassActive("category-BAO_CAO", "BAO_CAO_CHI_TIET_VP_ANH");
    })
</script>