
@{
    ViewData["Title"] = "BienSoXe";
}

<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Tra cứu thông tin
            </h6>
        </div>
        <div class="card-body">
            <div class="row">

                <div class="form-group col-xl-4 col-lg-6">
                    <label for="licensePlate">Biển số xe</label>
                    <input type="text" class="form-control" id="licensePlate" name="licensePlate" placeholder="Nhập biển số xe">
                </div>
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="start">Từ ngày</label>
                    <input type="text" class="form-control" id="start" name="start" placeholder="Từ ngày">
                </div>
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="end">Đến ngày</label>
                    <input type="text" class="form-control" id="end" name="end" placeholder="Đến ngày">
                </div>
            </div>
            <button type="submit" name="btnReport" class="btn btn-info" style="margin: auto">Tìm kiếm</button>
        </div>
    </div>
</div>
<!-- Hiển thị dữ liệu-->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Báo cáo truyền dữ liệu biển số xe</h6>
            <h6 class="total font-weight-bold"></h6>
        </div>
        <div class="table-responsive p-3">
            <table id="report" class="table table-bordered text-center" style="color: black">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 10px;">STT</th>
                        <th rowspan="2">Biển kiểm soát</th>
                        <th rowspan="2">Loại hình</th>
                        <th rowspan="2">Sở GTVT</th>
                        <th rowspan="2">Đơn vị vận tải</th>
                        <th rowspan="2">Đơn vị truyền dữ liệu</th>
                        <th rowspan="2">Ngày</th>
                        <th rowspan="2">Số bản tin</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot><tr></tr></tfoot>
            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>
<script>
    datePicker();
</script>
<script>
    var vehicle = '@ViewBag.vehicle';
    var start = '@ViewBag.start';
    var end = '@ViewBag.end';


    $(document).ready(function () {
        addClassActive("category-BAO_CAO", "BAO_CAO_TRUYEN_DL_PHUONG_TIEN");
        $("#licensePlate").val(vehicle);
        
        if (start > 0)
            $('[name="start"]').datepicker({ format: 'dd/mm/yyyy' }).datepicker('setDate', EpochToHuman(start));
        if (end > 0)
            $('[name="end"]').datepicker({ format: 'dd/mm/yyyy' }).datepicker('setDate', EpochToHuman(end));

        setTimeout(function () {
            if (vehicle !== "")
                showResult();
        }, 1500);

    });

    $("[name='btnReport']").click(function () {

        showResult();
    });

    function showResult() {
        var licensePlate = $("#licensePlate").val();
        var start = $("#start").val();
        start = start !== "" ? ConvertToUnix(start) : 0;
        var end = $("#end").val();
        end = end !== "" ? ConvertToUnix(end) : 0;

        $("#report tbody tr").remove();
        $("#report tfoot tr th").remove();
        window.history.pushState(window.location.href, "Báo cáo truyền dữ liệu biển số xe", `?vehicle=${licensePlate}&start=${start}&end=${end}`);
        callApi(`${REP_URL}datatransfer/vehicle/${licensePlate}?start=${start}&end=${end}`, null, "GET", function (item) {
            if (item.records > 0) {
                $.notify("Tải dữ liệu thành công", "success");
                let res = "";
                let count = 1;
                item.data.forEach(function (pro) {
                    res += "<tr>";
                    res += `<td>${count}</td>`;
                    res += `<td class="text-left"><a>${pro.vehicle}</a></td>`;
                    res += `<td class="text-left">${pro.vehicle_type}</td>`;
                    res += `<td class="text-left">${pro.department_name}</td>`;
                    res += `<td class="text-left">${pro.company_name}</td>`;
                    res += `<td class="text-left">${pro.provider_name}</td>`;
                    res += `<td class="text-left">${pro.date}</td>`;
                    res += `<td class="text-left">${pro.image_count}</td>`;
                    res += "</tr>";
                    count++;
                });

                let totalRes = `<th>Tổng</th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th></th>`;
                totalRes += `<th class="text-right">${item.totalWaypoints}</th>`;
                $("#report tbody").html(res);
                $("#report tfoot tr").html(totalRes);
                $("#report tfoot tr th").addClass("text-danger");
                Paging(0, 'showResult', item.records);
            } else {
                $.notify(`Không tìm thấy kết quả nào`, "error");
            }
        });
    }

</script>