
@{
    ViewData["Title"] = "Báo cáo truyền sử liệu sở giao thông vận tải";
}
<!-- Khu vực tìm kiếm -->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Tra cứu thông tin
            </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-xl-6 col-lg-6">
                    <label for="department">Sở GTVT</label>
                    <select class="form-control" id="department" placeholder="Sở GTVT">
                    </select>
                </div>
                <div class="form-group col-xl-6 col-lg-6">
                    <label for="date">Nhập ngày</label>
                    <input type="text" class="form-control" id="date" name="date" placeholder="Nhập ngày">
                </div>
                <button type="submit" name="btnReport" class="btn btn-info" style="margin: auto">Tìm kiếm</button>
            </div>
        </div>
    </div>
</div>

<!-- Hiển thị dữ liệu-->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Báo cáo truyền dữ liệu sở giao thông vận tải</h6>
            <h6 class="total font-weight-bold"></h6>
        </div>
        <div class="table-responsive p-3">
            <table id="report" class="table table-bordered text-center" style="color: black">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 10px;">STT</th>
                        <th rowspan="2">Đơn vị vận tải</th>
                        <th rowspan="2">Tổng số phương tiện	</th>
                        <th rowspan="2">Số phương tiện truyền dữ liệu</th>
                        <th rowspan="2">Số bản tin</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot><tr></tr></tfoot>
            </table>
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination"></ul>
        </nav>
    </div>
</div>

<script>
    datePicker();
</script>

<script>

    var department = '@ViewBag.department';
    var date = '@ViewBag.date';
    var index = '@ViewBag.index';
    $(document).ready(function () {
        addClassActive("category-BAO_CAO", "BAO_CAO_TRUYEN_DL_SO_GTVT");
        
        datePickerOne();
        $("#department").select2();
        loadSoGTVT(0);
        if (date > 0)
            $('[name="date"]').datepicker({ dateFormat: 'dd/mm/yy' }).datepicker('setDate', EpochToHuman(date));

        if (USER_ROLE === 2 || USER_ROLE === 3) {
            $("#department").prop("disabled", true);
            
            setTimeout(function () {
                loadSoGTVT(ALLOW_QUERY.Department);
            },
                500);
        } else if (USER_ROLE === 4 || USER_ROLE === 5) {
            setTimeout(function () {
                    loadSoGTVT(ALLOW_QUERY.Department);
                },
                500);
            $("#department").prop("disabled", true);
            $("#transportUnit").prop("disabled", true);
        } else if (USER_ROLE === 6 || USER_ROLE === 7) {
            $("#transmissionUnit").val(ALLOW_QUERY.Provider);
            $("#transmissionUnit").prop("disabled", true);
        }
        
        

        setTimeout(function() {
                showResult(index);
            },
            1500);
    });


    function loadSoGTVT(sgtvt) {
        callApi(`${REP_URL}department/all`, null, "GET", function (obj) {
            let res = "<option value='-1'>Chọn sở GTVT</option>";
            obj.forEach(function (pro) {
                res += `<option value="${pro.id}">${pro.name}</option>`;
            });
            $("#department").html(res);
            if (department !== '')
                $("#department").val(department);

            if (sgtvt !== 0)
                $("#department").val(sgtvt);
        });
    }

    

    $("[name='btnReport']").click(function (e) {
        e.preventDefault();
        index = 0;
        showResult(index);
    });

    function showResult(index) {
        var department = $("#department").val();
        var date = $("#date").val();
        date = date !== "" ? ConvertToUnix(date) : 0;
        $("#report tbody tr").remove();
        $("#report tfoot tr th").remove();
        window.history.pushState(window.location.href, "Báo cáo truyền dữ liệu sở giao thông vận tải", `?department=${department}&date=${date}&index=${index}`);
        callApi(`${REP_URL}datatransfer/department/${department}?date=${date}&index=${index}`, null, "GET", function (item) {
            if (item.records > 0) {
                $.notify("Tải dữ liệu thành công", "success");
                let res = "";
                let count = 1;
                item.data.forEach(function(pro) {
                    res += "<tr>";
                    res += `<td>${count}</td>`;
                    res += `<td class="text-left"><a href="/bao-cao-truyen-du-lieu/truyen-du-lieu/don-vi-van-tai?companyId=${pro.company_id}&department=${department}&date=${date}&index=${index}">${pro.company_name}</a></td>`;
                    res += `<td class="text-right">${pro.total_vehicle}</td>`;
                    res += `<td class="text-right">${pro.total_vehicle_transfer}</td>`;
                    res += `<td class="text-right">${pro.waypoint_count}</td>`;
                    res += "</tr>";
                    count++;
                });

                let totalRes = `<th>Tổng</th>`;
                totalRes += `<th></th>`;
                totalRes += `<th class="text-right">${item.totalVehicles}</th>`;
                totalRes += `<th class="text-right">${item.totalVehicleTransfers}</th>`;
                totalRes += `<th class="text-right">${item.totalWaypoints}</th>`;
                $("#report tbody").empty();
                $("#report tbody").html(res);
                $("#report tfoot tr").html(totalRes);
                $("#report tfoot tr th").addClass("text-danger");
                Paging(index, 'showResult', item.records);
            } else {
                $.notify(`Không tìm thấy kết quả nào`, "error");
            }
        });
    }

</script>