@{
    ViewData["Title"] = "Toàn quốc";
}

<!-- Khu vực tìm kiếm -->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Tra cứu thông tin
            </h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-xl-4 col-lg-6">
                    <label for="start">Nhập ngày</label>
                    <input type="text" class="form-control" id="date" name="date" placeholder="Từ ngày">
                </div>
                <button type="submit" name="btnReport" class="btn btn-info" style="margin: auto">Tìm kiếm</button>
                
            </div>
        </div>
    </div>
</div>

<!-- Hiển thị dữ liệu-->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Báo cáo truyền dữ liệu toàn quốc</h6>
            <h6 class="total font-weight-bold"></h6>
        </div>
        <div class="table-responsive p-3">
            <table id="report" class="table table-bordered text-center" style="color: black">
                <thead>
                    <tr>
                        <th rowspan="2" style="width: 10px;">STT</th>
                        <th rowspan="2">Sở GTVT</th>
                        <th rowspan="2">Tổng số phương tiện	</th>
                        <th rowspan="2">Số phương tiện truyền dữ liệu</th>
                        <th rowspan="2">Số bản tin</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot><tr></tr></tfoot>
            </table>
        </div>
    </div>
</div>

<script>
    $(function() {
        addClassActive("category-BAO_CAO", "BAO_CAO_TRUYEN_DL_TOAN_QUOC");
        
        datePickerOne();
    });
    
</script>

<script>
    $("[name='btnReport']").click(function(e) {
        var date = $("#date").val();
        date = date !== "" ? ConvertToUnix(date) : 0;
        $("#report tbody tr").remove();
        $("#report tfoot tr th").remove();
        callApi(`${REP_URL}datatransfer/country?date=${date}`, null, "GET", function (item) {
            if (item.records > 0) {
                $.notify("Tải dữ liệu thành công", "success");
                let res = "";
                let count = 1;
                item.data.forEach(function (pro) {
                    res += "<tr>";
                    res += `<td>${count}</td>`;
                    res += `<td class="text-left"><a href="/bao-cao-truyen-du-lieu/truyen-du-lieu/so-gtvt?department=${pro.department_id}&date=${date}&index=0">${pro.department_name}</a></td>`;
                    res += `<td class="text-right">${pro.total_vehicle}</td>`;
                    res += `<td class="text-right">${pro.total_vehicle_transfer}</td>`;
                    res += `<td class="text-right">${pro.image_count}</td>`;
                    res += "</tr>";
                    count++;
                });

                let totalRes = `<th>Tổng</th>`;
                totalRes += `<th></th>`;
                totalRes += `<th class="text-right">${item.totalVehicles}</th>`;
                totalRes += `<th class="text-right">${item.totalVehicleTransfers}</th>`;
                totalRes += `<th class="text-right">${item.totalImages}</th>`;
                $("#report tbody").empty();
                $("#report tbody").html(res);
                $("#report tfoot tr").html(totalRes);
                $("#report tfoot tr th").addClass("text-danger");
            }
        });
    })
</script>