
@{
    ViewData["Title"] = "Thông tin cần biết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Thông tin liên hệ-->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4 divTwo">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Thông tin liên hệ
            </h6>
        </div>
        <div class="card-body">
            <div class="form-group">
                <i class="fas fa-info fa-fw"></i> <b>Tổng cục đường bộ Việt Nam</b>
                <h6>&nbsp;Hotline: 0936 295 919</h6>
            </div>
            <div class="form-group">
                <i class="fas fa-phone fa-fw"></i> <b>Hỗ trợ kỹ thuật</b>
                <h6>&nbsp;Điện thoại: 0936 295 919</h6>
                <h6>&nbsp;email: camera.drvn@gmail.com</h6>
            </div>
        </div>
    </div>
</div>

<!-- Khu vực tìm kiếm -->
<div class="col-xl-12 col-lg-12">
    <div class="card mb-4 divOne">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                Giao thức truyền dữ liệu hình ảnh từ camera
                về máy chủ của Tổng cục ĐBVN
            </h6>
        </div>
        <div class="card-body">
            <span>Tải xuống: </span><a href="~/Giao thức truyền hình ảnh_V1.2.pdf" download="Giao thức truyền hình ảnh_V1.2.pdf">Giao thức truyền hình ảnh_V1.2</a>
        </div>
    </div>
</div>