<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Hệ thống giám sát hình ảnh</title>
    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    @*<link rel="stylesheet" href="~/css/site.css" />*@
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/notify.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    
    
    
    
    @*<script src="~/js/site.js"></script>*@
   
</head>
<body id="page-top">
    <div id="wrapper">
        <!-- Sidebar -->
        <!-- Sidebar -->
       
            <div id="content">
                <!-- TopBar -->
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
    
    </div>

  

    @RenderSection("Scripts", required: false)
</body>
</html>
